---
import Layout from '../layouts/Layout.astro';

// Import Images
import jayce from '../images/jayce.jpeg';
import victor from '../images/victor.jpeg';
import jinx from '../images/jinx.jpeg';
import vi from '../images/vi.jpeg';
---

<Layout>
  <nav>
    <p>Design Loader</p>
    <p>Experiment 0492</p>
  </nav>
  <div class="folders">
    <!-- Row 01 -->
    <div class="row">
      <!-- Folder 01 -->
      <div class="folder variant-1">
        <!-- Hold Images -->
        <div class="folder-preview">
          <div class="folder-preview-img">
            <img src={jayce.src} />
          </div>
          <div class="folder-preview-img">
            <img src={victor.src} />
          </div>
        </div>
        <!-- Folder Information -->
        <div class="folder-wrapper">
          <div class="folder-index"><p>01</p></div>
          <div class="folder-name"><h1>Tech Bros</h1></div>
        </div>
      </div>

      <!-- Folder 02 -->
      <div class="folder variant-2">
        <!-- Hold Images -->
        <div class="folder-preview">
          <div class="folder-preview-img">
            <img src={jayce.src} />
          </div>
          <div class="folder-preview-img">
            <img src={victor.src} />
          </div>
        </div>
        <!-- Folder Information -->
        <div class="folder-wrapper">
          <div class="folder-index"><p>01</p></div>
          <div class="folder-name"><h1>Tech Bros</h1></div>
        </div>
      </div>
    </div>

    <!-- Row 02 -->
    <div class="row">
      <!-- Folder 01 -->
      <div class="folder variant-2">
        <!-- Hold Images -->
        <div class="folder-preview">
          <div class="folder-preview-img">
            <img src={jinx.src} />
          </div>
          <div class="folder-preview-img">
            <img src={vi.src} />
          </div>
        </div>
        <!-- Folder Information -->
        <div class="folder-wrapper">
          <div class="folder-index"><p>01</p></div>
          <div class="folder-name">
            <h1>Trauma Sisters</h1>
          </div>
        </div>
      </div>

      <!-- Folder 02 -->
      <div class="folder variant-3">
        <!-- Hold Images -->
        <div class="folder-preview">
          <div class="folder-preview-img">
            <img src={jinx.src} />
          </div>
          <div class="folder-preview-img">
            <img src={vi.src} />
          </div>
        </div>
        <!-- Folder Information -->
        <div class="folder-wrapper">
          <div class="folder-index"><p>01</p></div>
          <div class="folder-name">
            <h1>Trauma Sisters</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  nav {
    /* Container */
    width: 100%;
    padding: 2rem;

    /* Positioning */
    position: absolute;
    top: 0;

    /* Layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .folders {
    /* Container */
    width: 100%;
    height: 100svh;

    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
  }

  .row {
    /* Position */
    position: relative;

    /* Container */
    width: 100%;

    /* Layout */
    display: flex;
  }

  .row:nth-child(1) {
    bottom: -13rem;
  }

  .row:nth-child(2) {
    bottom: -7.5rem;
  }

  .row:nth-child(3) {
    bottom: -2rem;
  }

  .folder {
    /* Position */
    position: relative;

    /* Layout */
    flex: 1;
    display: flex;
    flex-direction: column;

    /* Container */
    height: 200px;

    /* Interactivity */
    cursor: pointer;
  }

  .row:nth-child(2) .folder:nth-child(1) {
    flex: 2;
  }

  .row:nth-child(2) .folder:nth-child(2) {
    flex: 3;
  }

  .folder-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100%;
    pointer-events: none;
  }

  .folder-preview-img {
    position: absolute;
    top: 50%;
    width: 8rem;
    height: 12rem;
  }

  .folder-preview-img:nth-child(1) {
    left: 20%;
    transform-origin: top left;
  }

  .folder-preview-img:nth-child(2) {
    left: 50%;
    transform-origin: center;
  }

  .folder-preview-img:nth-child(3) {
    right: 80%;
    transform-origin: top right;
  }

  .folder-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    will-change: transform;
  }
  .folder-index {
    position: relative;
    width: 40%;
    padding: 0.75rem;
  }
  .folder-index::after {
    content: '';

    /* Position */
    position: absolute;
    top: 0;
    left: 99%;
    height: 101%;

    /* Shape */
    aspect-ratio: 1;
    clip-path: polygon(0 0, 25% 0, 100% 100%, 0% 100%);
  }
  .folder-name {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding: 0 0.25rem;
    padding-left: 2rem;
  }

  .folder-index,
  .folder-index::after,
  .folder-name {
    transition: background-color 250ms ease;
  }
  .folder.variant-1 .folder-index,
  .folder.variant-1 .folder-index::after,
  .folder.variant-1 .folder-name {
    background-color: var(--variant-1);
  }

  .folder.variant-2 .folder-index,
  .folder.variant-2 .folder-index::after,
  .folder.variant-2 .folder-name {
    background-color: var(--variant-2);
  }

  .folder.variant-3 .folder-index,
  .folder.variant-3 .folder-index::after,
  .folder.variant-3 .folder-name {
    background-color: var(--variant-3);
  }

  .folder.disabled .folder-index,
  .folder.disabled .folder-index::after,
  .folder.disabled .folder-name {
    background-color: var(--disabled-folder-bg);
  }

  .folder.disabled p,
  .folder.disabled h1 {
    color: var(--disabled-folder-fg);
  }

  @media (max-width: 1000px) {
    h1 {
      font-size: 2rem;
    }

    .row {
      flex-direction: column;
      bottom: 0 !important;
    }

    .folder {
      margin-bottom: -0.5rem;
    }
    .folder-preview {
      display: none;
    }
    .folder-name {
      padding: 0 2rem 2rem;
    }

    .row:nth-child(2) .folder.variant-2 .folder-index,
    .row:nth-child(2) .folder.variant-2 .folder-index::after,
    .row:nth-child(2) .folder.variant-2 .folder-name {
      background-color: var(--variant-3);
    }

    .row:nth-child(2) .folder.variant-3 .folder-index,
    .row:nth-child(2) .folder.variant-3 .folder-index::after,
    .row:nth-child(2) .folder.variant-3 .folder-name {
      background-color: var(--variant-2);
    }
  }
</style>

<script>
  import gsap from 'gsap';

  // Wait for DOM to be ready
  document.addEventListener('DOMContentLoaded', () => {
    // Get Folder and Folder Information Wrappers Elements
    const folders = document.querySelectorAll('.folder');
    const folderWrappers = document.querySelectorAll('.folder-wrapper');

    // Check if the window is Mobile
    let isMobile = window.innerWidth < 1000;

    // Set initial positions of the folder information wrapper block
    function setInitialPositions() {
      gsap.set(folderWrappers, { y: isMobile ? 0 : 25 });
    }

    // Set initial positions
    setInitialPositions();

    // Loop through each folder
    folders.forEach((folder, index) => {
      // Get preview images
      const previewImages = folder.querySelectorAll('.folder-preview-img');

      // When hovering over a folder
      folder.addEventListener('mouseenter', () => {
        if (isMobile) return;

        // Disable other folders
        folders.forEach((siblingFolder) => {
          if (siblingFolder !== folder) {
            siblingFolder.classList.add('disabled');
          }
        });

        // Animate folder wrapper (information)
        gsap.to(folderWrappers[index], {
          y: 0,
          duration: 0.25,
          ease: 'back.out(1.7)',
        });

        // Animate preview images
        previewImages.forEach((img, imgIndex) => {
          let rotation;

          if (imgIndex === 0) {
            rotation = gsap.utils.random(-20, -10);
          } else if (imgIndex === 1) {
            rotation = gsap.utils.random(-10, 10);
          } else {
            rotation = gsap.utils.random(10, 20);
          }

          // Actually animate the image
          gsap.to(img, {
            y: '-100%',
            rotation: rotation,
            duration: 0.25,
            ease: 'back.out(1.7)',
            delay: imgIndex * 0.05,
          });
        });

        console.log('Hovered on folder', index);
      });

      // When leaving a folder
      folder.addEventListener('mouseleave', () => {
        if (isMobile) return;

        // Re-enable all folders
        folders.forEach((siblingFolder) => {
          siblingFolder.classList.remove('disabled');
        });

        // Reset folder wrapper position
        gsap.to(folderWrappers[index], {
          y: 25,
          duration: 0.25,
          ease: 'back.out(1.7)',
        });

        // Reset preview images
        previewImages.forEach((img, imgIndex) => {
          gsap.to(img, {
            y: '0%',
            rotation: 0,
            duration: 0.25,
            ease: 'back.out(1.7)',
            delay: imgIndex * 0.05,
          });
        });

        console.log('Left folder', index);
      });
    });
  });
</script>
